/******************************************************************************
TABLE OF CONTENTS

AUTHOR            - Richard Myatt
DATE              - 3 October 2017


GENERAL STYLING                - main panel elements
BUTTON AND ICON STYLING        - button and twitter icon


COLOUR PALETTE

lightyellow                    - background colour of quotation panel
lightblue                      - button background colour
darkblue                       - button text colour
#999                           - mid grey block shadow for quotation panel
#794bc4                        - purple twitter icon
#ccc                           - grey active button/icon


******************************************************************************/


/******************************************************************************
  General styling begins
******************************************************************************/
#displayBox {
  position: absolute;
  top: 2vw;
  left: 20vw;
  width: 60vw;
  margin: 0 auto;
  padding-bottom: 30px;
}

#displayBox h1 {
  text-align: center;
  font-family: 'Sofia';
  font-size: 3vw;
}

blockquote {
  text-align: center;
  font-size: 3vw;
  padding: 2vw 2vw 20px 2vw;
}

#quotePanel {
  min-height: 26vw;
  background-color: lightyellow;
  box-shadow: 5px 5px 3px #999;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 50px;
  border-radius: 20px;
  border: 1px solid green;
}

#attribution {
  font-size: 1.5vw;
  text-align: right;
  padding-right: 10vw;
}
/* General styling ends */


/******************************************************************************
  Button and icon styling
******************************************************************************/
button {
  float: right;
  width: 150px;
  height: 40px;
  background-color: lightblue;
  color: darkblue;
  border-radius: 5px;
}

button:hover, i:hover {
  cursor: pointer;
}

button:active {
  background-color: #ccc;
}

a:active {
  color: #ccc;
}

#buttonsPanel {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 40vw;
}

a {
  position: absolute;
  font-size: 40px;
  color: blue;
  bottom: 90px;
  left: 0;
  padding-left: 30px;
}
/* Button and icon styling ends */
